<div class="demo-content">
    <div class="alert alert-info">
        <h5>Dropdown Component</h5>
        <p class="mb-0">Toggleable contextual menus.</p>
    </div>
    <div class="card">
        <div class="card-body text-center">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                    Dropdown Menu
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Separated link</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
